:root {
    --background-color: #0b0f19;
    --extra-color: linear-gradient(
        228deg,
        #b600a4 1.29%,
        #b600a4 27.13%,
        #4613f0 65.36%,
        #0a1bfe 99.99%,
        #071bff 100%
    );
}

* {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
}

a {
    color: white;
    transition-duration: 0.1s;
}

h2 {
    letter-spacing: 1px;
}

a:hover {
    color: var(--button-color);
}

span {
    color: var(--extra-color);
}

html,
body {
    height: 100%;
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}