.vanilla-calendar {
    grid-gap: 5px;
    gap: 5px;
    position: fixed;
    z-index: 2;
    right: 150px;
    top: 670px;
    opacity: 0;
    display: none;
}

.vanilla-calendar_active {
    display: block;
}

.vanilla-calendar-content {
    padding: 12px;
    padding-top: 0;
}

.vanilla-calendar-years__year {
    color: #7C0798;
}

.vanilla-calendar-years__year_selected {
    background-color: #7C0798;
    color: white;
}

.vanilla-calendar-year:hover {
    color: var(--button-color);
}

.vanilla-calendar-months__month {
    color: #7C0798;
}

.vanilla-calendar-months__month_selected {
    background-color: #7C0798;
    color: white;
}

.vanilla-calendar-months__month_selected:hover, .vanilla-calendar-years__year_selected:hover {
    background-color: #7C0798;
    color: white;
}

.vanilla-calendar-arrow::before {
    top: 4px;
}

.vanilla-calendar-arrow::after {
    bottom: 4px;
}

.vanilla-calendar-arrow::before,.vanilla-calendar-arrow::after {
    background-color: white;
    height: 2px;
    width: 13px;
}

.vanilla-calendar-arrow:hover::before, .vanilla-calendar-arrow:hover::after {
    background-color: #fd8211;
}

.vanilla-calendar_month {
    padding: 0;
}

.vanilla-calendar_year {
    padding: 0;
}

.vanilla-calendar-header {
    padding: 5px 12px 5px 12px;
    height: 45px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(0deg, #1B1059 0%, #7C0798 100%);
    color: white;
    cursor: grab;
}

.vanilla-calendar-year {
    color: #fd8211;
}

.vanilla-calendar-year:hover {
    background: linear-gradient(180deg, #fd8211 0%, #fe300d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vanilla-calendar-month {
    color: white;
}

.vanilla-calendar-month:hover {
    color: rgb(204, 202, 202);
}

.vanilla-calendar-month,.vanilla-calendar-year {
    transition: 150ms all linear;
}

.calendar-button {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    top: 0px;
    right: -110px;
    overflow: hidden;    
    border-radius: 5px;
    border: 1px solid #FFF;
    width: 80px;
    height: 80px;
    transition: 150ms all linear;
    background: var(--background-color);
}

.calendar-button:hover {
    background: linear-gradient(180deg, #FD8211 0%, #FE300D 100%);
}

.calendar__cross {
    position: absolute;
    transform: translateX(-100px);
    width: 70px;
    top: 5px;
    right: 4px;
}

.calendar__icon {
    width: 70px;
}

@media (max-width: 1439px) {
    .vanilla-calendar {
        right: 20px;
        top: 530px;
    }
}