{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/css.css' %}" />
    <title>Проектирование высоконагруженных интернет-сервисов</title>
</head>

<body>
    <header class="header">
        <div class="header__hamburger">
            <img src="{% static 'main/img/hamburger.svg' %}" alt="Меню" class="hamburger" />
            <div class="hamburger__wrap"> </div>
            <ul class="hamburger__list">
                <li class="header__list-item">
                    <a href="{% url 'index'  %}" class="header__link">Главная</a>
                </li>
                <li class="header__list-item">
                    <a  title="Извините, данная страница находится в разработке" href="#" class="header__link">Новости</a>
                </li>
                <li class="header__list-item">
                    <a title="Извините, данная страница находится в разработке" href="#" class="header__link">Преподаватели</a>
                </li>
                <li class="header__list-item">
                    <a title="Извините, данная страница находится в разработке" href="#" class="header__link">Учебный план</a>
                </li>
                <li class="header__list-item">
                    <img src="{% static 'main/img/cross_window.svg' %}" alt="Закрыть меню" />
                </li>
            </ul>
        </div>
        <ul class="header__list">
            <li class="header__list-item">
                <a title="Извините, данная страница находится в разработке" href="{% url 'index'  %}" class="header__link">Главная</a>
            </li>
            <li class="header__list-item">
                <a title="Извините, данная страница находится в разработке" href="#" class="header__link">Новости</a>
            </li>
            <li class="header__list-item">
                <a title="Извините, данная страница находится в разработке" href="#" class="header__link">Преподаватели</a>
            </li>
            <li class="header__list-item">
                <a title="Извините, данная страница находится в разработке" href="#" class="header__link">Учебный план</a>
            </li>
        </ul>
        <a class="header__apply" href="">Подать заявку</a>
    </header>
    <main class="main">
        <section class="start-section">
            <h1 class="start-section__header">
                Проектирование высоконагруженных интернет-сервисов
            </h1>
            <div class="start-section__details">
                <p class="start-section__title">
                    ../Чему научим за 2 года/
                </p>
                <ul class="start-section__list">
                    <li class="start-section__list-item">
                        <div class="start-section__icon">
                            <img src="{% static 'main/img/mech.svg' %}" alt="Механизм" class="start-section__img" />
                        </div>
                        Ориентироваться в технологических процессах
                        индустрии HighLoad
                    </li>
                    <li class="start-section__list-item">
                        <div class="start-section__icon">
                            <img src="{% static 'main/img/code.svg' %}" alt="Код" class="start-section__img" />
                        </div>
                        Грамотно применять современный инструментарий
                    </li>
                    <li class="start-section__list-item">
                        <div class="start-section__icon">
                            <img src="{% static 'main/img/arch.svg' %}" alt="Структура" class="start-section__img" />
                        </div>
                        Находить оптимальные архитектурные решения
                    </li>
                    <li class="start-section__list-item">
                        <div class="start-section__icon">
                            <img src="{% static 'main/img/coop.svg' %}" alt="Кооперация" class="start-section__img" />
                        </div>
                        Взаимодействию с командой разработчиков
                    </li>
                    <li class="start-section__list-item">
                        <div class="start-section__icon">
                            <img src="{% static 'main/img/binary.svg' %}" alt="Система счисления"
                                class="start-section__img" />
                        </div>
                        Системному мышлению
                    </li>
                </ul>
            </div>
            <button class="start-section__apply">
                <img src="{% static 'main/img/plus.svg' %}" alt="Плюс" class="start-section__apply-img" />
                <p class="start-section__apply-text">Подать заявку</p>
            </button>
        </section>
        <section class="info">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
            <div class="general">
                <div class="general__partners">
                    <h2 class="general__header">../Наши партнёры/</h2>
                    <div class="general__items">
                        <a class="general__icon" href="https://myoffice.ru/" target="_blank">
                            <img src="{% static 'main/img/cloud.png' %}" alt="Облачные технологии"
                                class="general__img" />
                        </a>
                        <a class="general__icon" href="https://www.avito.ru/" target="_blank">
                            <img src="{% static 'main/img/avito.png' %}" alt="Авито" class="general__img" />
                        </a>
                        <a class="general__icon" href="https://msk.rt.ru/" target="_blank">
                            <img src="{% static 'main/img/rostelecom.png' %}" alt="Ростелеком" class="general__img" />
                        </a>
                        <a class="general__icon" href="https://mts.ru" target="_blank">
                            <img src="{% static 'main/img/mts.png' %}" alt="МТС" class="general__img" />
                        </a>
                    </div>
                </div>
                <div class="general__info">
                    <h2 class="general__header">../Основная информация/</h2>
                    <ul class="general__items">
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Форма обучения: очная</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Институт №3 «Системы управления, информатика и
                                электроэнергетика»</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Руководитель: к.т.н. Кейно П.П.</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Количество мест: 10 бюджетных, 6 плтаных</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Возраст: 21 - 30 лет</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Период: 2 года</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Стоимость обучния: 232000 / год</p>
                        </li>
                        <li class="general__list-item">
                            <div>
                                <img src="{% static 'main/img/arrow.png' %}">
                            </div>
                            <p class="general__list-descr">Длительность программы: 2160 часов аудиторной
                                нагрузки в учебном плане(60% практические
                                занятия, 40% лекционные)</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="learn">
                <h2 class="learn__title">../Что будем изучать/</h2>
                <div class="learn__wrap">
                    <div class="learn__first">
                        <h2 class="learn__header">../Первый год</h2>
                        <ul class="learn__items">
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Архитектура высоконагруженных систем
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Архитектура биллинговых систем
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Проектирование баз данных
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Администрирование Linux
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Прикладная разработка на C++
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Сети TCP/IP
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Гибкие методологии разработки
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Менеджмент в ИТ
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="learn__second">
                        <h2 class="learn__header">../Второй год</h2>
                        <ul class="learn__items">
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Разработка веб-приложений на основе Python
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Тестирование высоконагруженных систем
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Основы больших данных
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Безопасность интернет-приложений
                                </p>
                            </li>
                            <li class="learn__list-item">
                                <div>
                                    <img src="{% static 'main/img/arrow.png' %}">
                                </div>
                                <p class="learn__list-descr">
                                    Параллельные и распределённые вычисления
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="apply">
            <div class="apply__wrap"></div>
            <div class="apply__hash">
                <img src="{% static 'main/img/mai.png' %}" alt="" class="apply__mai-hash" />
            </div>
            <div class="apply__video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_aOKeqYL6gE"
                    title='Презентация программы "Проектирование высоконагруженных интернет-сервисов"' frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="apply__text">
                <h2 class="apply__header">../Подать заявку/</h2>
                <p class="apply__descr">
                    #Оставьте контактные данные для участия в мероприятиях
                    программы
                </p>
            </div>
            <div class="apply__request">
                <form class="apply__form" method="post">
                    {% csrf_token %}
                    <label class="apply__label" for="id_email">
                        <div class="apply__name">
                            <span class="apply__highlight">Email:</span><span>~$</span>
                        </div>
                        {{ form.email }}
                    </label>
                    <label class="apply__label" for="id_name">
                        <div class="apply__name">
                            <span class="apply__highlight">ФИО:</span><span>~$</span>
                        </div>
                        {{ form.name }}
                    </label>
                    <label class="apply__label" for="id_telephone">
                        <div class="apply__name">
                            <span class="apply__highlight">Телефон:</span><span>~$</span>
                        </div>
                        {{ form.telephone }}
                    </label>
                    <label class="apply__label" for="id_telegram">
                        <div class="apply__name">
                            <span class="apply__highlight">Telegram:</span><span>~$</span>
                        </div>
                        {{ form.telegram }}
                    </label>
                    <label class="apply__label" for="id_subject">
                        <div class="apply__name">
                            <span class="apply__highlight">Тема письма:</span><span>~$</span>
                        </div>
                        {{ form.subject }}
                    </label>
                    <label class="apply__label" for="id_message">
                        <div class="apply__name">
                            <span class="apply__highlight">Ваше сообщение:</span><span>~$</span>
                        </div>
                        {{ form.message }}
                    </label>
                    <input type="submit" value="Подать заявку" name="send" class="apply__send-button" />
                </form>
                <p class="apply__agreement">
                    #Нажимая на кнопку, я даю свое согласие на обработку
                    представленных в форме персональных данных в
                    соответствии с требованиями Федерального закона от
                    27.07.2006 г. № 152-ФЗ «О персональных данных»
                </p>
            </div>
        </section>
    </main>
    <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aeaa88b0477c0b75da3f35a1f4990a1742c2eba29d575bc37ceae37a8fae34c92&amp;width=100%25&amp;height=452&amp;lang=ru_RU&amp;scroll=true"></script>
    <footer class="footer">
        <div class="footer__contacts">
            <h2 class="footer__header">Наши контакты:</h2>
            <a href="tel:+74991419416" class="footer__phone">+7 (499) 141-94-16</a>
            <a href="mailto:kaf316@mai.ru" class="footer__email">kaf316@mai.ru</a>
            <adress class="footer__adress">121552 Москва, ул. Оршанская, д.3, корп.«B», 4
                этаж.</adress>
        </div>
        <div class="footer__links">
            <h2 class="footer__header">Интересные ссылки:</h2>
            <div class="footer__docs">
                <a href="https://mai.ru/abitur/paidEduDocLink/?referer=https%3A%2F%2Fwww.google.com%2F"
                    class="footer__link">
                    <img src="{% static 'main/img/docs.svg' %}" alt="Документы" class="footer__icon" />
                </a>
                <a href="https://www.youtube.com/watch?v=_aOKeqYL6gE" class="footer__link">
                    <img src="{% static 'main/img/youtube.svg' %}" alt="Ютуб" class="footer__icon" />
                </a>
            </div>
        </div>
        <div class="footer__other">
            <a href="https://smiap.ru/" class="footer__site">
                <img src="{% static 'main/img/smiap.png' %}" alt="" class="footer__img" />
            </a>
            <a href="https://mai.ru/itmai/?referer=https%3A%2F%2Fwww.google.com%2F" class="footer__site">
                <img src="{% static 'main/img/it-center.png' %}" alt="" class="footer__img" />
            </a>
        </div>
    </footer>
    <div class="arrow_to_top">
        <img src="{% static 'main/img/arrow_up.svg' %}" alt="Перемотка вверх" />
    </div>
    <script type="module" src="{% static 'main/js/Ease.js' %}"></script>
    <script type="module" src="{% static 'main/js/TweenLite.js' %}"></script>
    <script type="module" src="{% static 'main/js/rAF.js' %}"></script>
    <script type="module" src="{% static 'main/js/connect.js' %}"></script>
    <script type="module" src="{% static 'main/js/script.js' %}"></script>
</body>

</html>