.article_pagination {
    text-align: center;
    position: fixed;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 20px 0 50px 0;
}

.article_pagination-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 100%;
}

.article_pagination-list-item,.article_pagination-list-item_active {
    margin-left: 10px;
    position: relative;
}

.article_pagination-list-item:first-child {
    margin-left: 0px;
}

.article_pagination-list-item a{
    transition: all .15s;
    border-radius: 5px;
    background: linear-gradient(0deg, #1B1059 0%, #7C0798 100%);
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: 28px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.article_pagination-list-item_active a{
    border-radius: 5px;
    background: linear-gradient(180deg, #FD8211 0%, #FE300D 100%);
    color: white;
    display: inline-block;
    font-weight: 300;
    font-size: 28px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.article_pagination-list-item_active a:hover {
    color: white;
    background: linear-gradient(180deg, #FD8211 0%, #FE300D 100%);
}
